/* body {
  background-color: powderblue;
}
h1 {
  color: black;
}
p {
  color: red;
}
  veraligntop {
  vertical-align: 
} */



const styles = {
  section: {
    fontSize: "18px",
    color: "#292b2c",
    backgroundColor: "#fff",
    padding: "0 20px"
  },
  wrapper: {
    textAlign: "center",
    margin: "0 auto",
    marginTop: "50px"
  }
}